!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/js/lib/require-jquery.js');
    script(type='text/javascript', src='/js/main.js');    
  body!= body
